.App {
  text-align: center;
}

.App {
  text-align: center;
}
.card {
  background-color: #08a85e;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 #eee;
  border: 1px solid #cecece;
  margin-left: 10px;
}
select {
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  background-color: #2c3a47;
  color: #fff;
  margin-left: 6px;
  border-radius: 5px;
  font-size: 15px;
}
